*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
   background-color: rgb(8, 195, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 480px;
    width: 320px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;
    border: 3px solid black;
    position: relative;
}
#storiyan{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid rgba(33, 8, 255, 0.37);
  
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    border: 3px solid red;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;


}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}
#fullscreen{
    height: 100%;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}