*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    border-radius: 10px;
    height: 450px;
    width: 400px;
    background-color: #fff;
    padding: 30px;
    text-align: center;
}
img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font-size: 35px;
    font-weight: 800;
    margin: 10px;

}

#card h5{

    font-size: 35px;
    color: rgb(255, 0, 0);
    margin-bottom: 25px;
}
#card button{
    background-color: rgb(11, 212, 159);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
